{
  "plugins": ["lodash"],
  "presets": [
    "@babel/preset-typescript",
    ["babel-preset-gatsby-package"],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
